.Test1{
    background-color: blue;
}
.Test2{
    background-color: red;
}
*{
    padding: 0;
    margin :0;
}
body{
    background-color: #ebf2ff !important;
}

.AddBtn_small_Screen{
    position: fixed;
    bottom:40px;
    right:40px;
    padding: 15px 12px;
    background-color: white;
    /* width: 100%; */
    z-index: 3;
    display:flex !important;
}
@media screen and (min-width:900px){
    .AddBtn_small_Screen{
        display: none !important;
    }
}